* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color: #111111;
}

body {
    /* background-color: var(--bg-color); */
    margin: 0;
    display: flex;
    /* place-items: center; */
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    gap: 50px;

    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;

    overflow: hidden;

}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../imgs/game-bg.jpg");
    z-index: -1000;
    filter: brightness(.1);
}

/* /////////////////////////////////////////////////////////// */

aside {
    /* border: 1px solid blue; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fleet {
    position: relative;
    width: 15vw;
}

.fleet .ships {
    position: relative;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.fleet .ship {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px;
    /* aspect-ratio: 1; */
}

.fleet .ship img{
    height: 100%;
    position: absolute;
}

.player2-fleet .ship img, .player2-fleet .ship .health{
    right: 0;
}

.player2-fleet .ships img {
    transform: rotateY(180deg);
}

.fleet-info {
    width: 100%;
    height: 100px;
    font-size: 28px;
    padding: 10px;
}

.player2-fleet .fleet-info {
    text-align: end;
}

.health {
    position: absolute;
    display: flex;
    height: 100%;
    width: fit-content;
}

.health .health-point{
    height: 100%;
    aspect-ratio:1;
    background-color: #9fff21b4;
    border: 1px solid rgba(255, 255, 255, 0.37)
}

/* .player2-fleet .health-point{
    background-color: #ff2121b4;
} */

.health-none{
    background-color: #ff5b46ad !important;
}

/* ///////////////////////////////////////////// */

main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 50px; */
    /* perspective: 20cm; */
    /* transform-style: preserve-3d; */
}

/* //////////////////////////////////////////////////////////////// */

header {
    /* width: 1000px; */
    width: 100%;
    height: 280px;
    border: 1px solid white;
    border-radius: 0 0 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #323232;
    border-top-color: var(--bg-color);
    position: relative;
}

header > div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.battle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    position: relative;
}


#roomId{
    font-size: 24px;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 28px;
}

.player-name{
    font-size: 24px;
}

.player .player-name{
    color: #9DFF21;
}

.enemy .player-name{
    color: #ff2121;
}


/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 26px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 84px;
  outline: none;
  overflow: visible;
  padding: 19px 36px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 60%;
  word-break: keep-all;
  z-index: 0;

  
  /* font-family: "Quantico", sans-serif;
  font-style: normal; */
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 15px;
}

.button-77:before {
  background-color:  rgba(153, 205, 50, 0.301);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

/* /////////////////////////////////////////////////////////////////////////////////// */
section {
    position: relative;
    /* border: 1px solid gold; */
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* transform: rotateX(45deg);
    transform-origin: bottom; */
}

.number-row {
    width: 100%;
    height: 20px;
    /* border: 1px solid red; */
    position: absolute;
    top: -28px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-content: center;
    color: #9DFF21;
}

.letter-row {
    width: 20px;
    height: 100%;
    /* border: 1px solid red; */
    position: absolute;
    left: -28px;
    top: 0;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
    color: #9DFF21;
}

.right .letter-row {
    left: auto;
    right: -28px;
}

/* ///////////////////////////////////////////////// */

.board-area {
    position: relative;
    /* border: 1px solid greenyellow; */
    width: 45%;
    aspect-ratio: 1;
    /* z-index: 100; */
}

.board-area .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../imgs/board-bg.gif");
    /* background-size: 100%; */
    background-position: bottom;
    background-image: url("../imgs/board-bg2.gif");
    background-size: 100%;
    background-position: bottom;
    z-index: -1;
    filter: contrast(1.5);
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
}

.cell {
    border: 1px solid #dddddd48;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: rgba(0, 128, 0, 0.5);
}
.warning {
    animation: warningAnimation .6s infinite;
}

@keyframes warningAnimation {
    0% {
      background-color: rgba(255, 0, 0, 0.5);
    }
    50% {
        background-color: rgba(255, 0, 0, 0.2);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.5);
    }
  }

.board .cell:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.d-none {
    display: none;
}

.hidden{
    opacity: 0;
}

.guide-pane{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guide-pane p {
    margin-bottom: 20px;
    font-size: 24px;
}

.guide-pane .ships {
    flex-grow: 1;
    /* border: 1px solid gold; */
}

.guide-pane .ship img {
    cursor: grab;
}

ul {
    margin-left: 20px;
}

.cell .ship {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.cell .ship[direction='row']{
    transform: rotate(0deg);
}

.cell .ship[direction='column']{
    transform: rotate(90deg);
}


@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.cell .ship img {
    /* background-color :rgba(0, 255, 0, 0.377); */
    height: 100%;
    object-fit: cover;
}

/* Enemy cells */
#enemy-board .board{
    overflow: hidden;
}

#enemy-board .board .cell{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enemy-board .cell .ship{
    z-index: -1;
    animation: scale-image 1s ease-in;
}

.shot > img{
    width: 100%;
    aspect-ratio:1;
    mix-blend-mode: screen;
    position: absolute;
    /* animation: scale-image 2s ease-in; */
}

@keyframes scale-image {
    from{
        transform: scale(5);
    }
    to{
        transform: scale(1);
    }
}

.shot{
    width:100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid red; */
}

#enemy-board .board .cell:hover{
    animation: warningAnimation .6s ease-in-out infinite;
}


/* ////////////////////////////////// */

/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
  position: absolute;
  right: 20px;
  top: 20px;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

#turnPlayerName{
    color: #ff2121;
    font-size: 40px;
    display: none;
}

/*  */

#messages {
    position: absolute;
    /* width: 800px; */
    height: 200px;
    right: 0;
    top: 5%;
}

.message {
    position: absolute;
    width: 800px;
    height: 100%;
    border-radius: 100px 0 0 100px;
    border: 3px solid #9DFF21;
    border-right: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-image: url("../imgs/message-bg.jpg");
    background-size: cover;
    background-position: left;
    position: absolute;
    right: -100%;
    animation: message-received .3s ease-out reverse;
    z-index: 10;
}

.message.active {
    right: 0;
}

@keyframes message-received {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(600px);
    }
}

.message .img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url("../imgs/captain.png");
    background-size: cover;
    background-position: center;
}

.message p {
    font-size: 30px;
    /* border: 1px solid red; */
    /* width: 250px; */
    height: 150px;
}

.boom{
    position: absolute;
}

.ready {
    color: #9DFF21;
}

.not-ready {
    color: #a3a3a3;
    animation: rotate-icon 1.4s linear infinite;
}

@keyframes rotate-icon {
    to{transform: rotate(360deg);}
}

.copyright{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 4px;
    color: #9DFF21;
}